.course-detail-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.course-detail-container button{
    width: 15em;
    align-self: center;
    margin: 5px;
}
.course-detail-container ul{
    display: flex;
    flex-direction: column;
    align-self: left;
    text-align: center;
    padding-left: 25%;
}

.prereq-item{
    list-style: none;
}

.course-detail-container li{
    text-align: left;
}


.add-prerequisite-container{
    display: flex;
    justify-content: center;
}

.add-prerequisite {
    display: flex;
    align-items: flex-start;
}


.add-prereq-list {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.added-prerequirements {
    align-self: auto;
}

.add-prerequisite-searchfield{
    max-width: 50%;
}

.course-details-list-headline{
    font-weight: 600;
    font-size: x-large;
}